* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Poppins";
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;
}

.logo img {
  height: 50px;
}
.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ul {
  list-style-type: none;
}

.nav-ul li a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  line-height: 30px;
}
.nav-ul li a:first-child {
  color: #0970a7;
}

.checkbtn {
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
}
.bar-icon {
  color: black;
}
#check {
  position: absolute;
  top: 18px;
  height: 28px;
  opacity: 0;
}

/* Hero Section */

.Hero-Section {
  background-image: url(./assets/images/banner-img.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
}
.Hero-bg-color {
  /* background: linear-gradient( #FFFFFF00,#FFFFFF); */
  background: radial-gradient(#ffffff00, #ffffff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 608px;
  padding: 0 60px;
}

.hero-content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Hero-header1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 47.5px;
  width: 277px;
  /* margin-bottom: 10px; */
}
.Hero-header2 {
  font-size: 42px;
  font-weight: 700;
  color: #0970a7;
  font-family: "Roboto";
  line-height: 47.5px;
  width: 420px;
  margin-bottom: 10px;
}
.Hero-para {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-size: 17px;
}
.Hero-Form {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.Hero-Form-header {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  /* font-family: "Poppins"; */
  margin-bottom: 10px;
}
.Hero-Form-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #252525b2;
  margin-bottom: 30px;
}
.form-input {
  border: 1px solid #e6e9fc;
  border-radius: 5px;
  padding: 12px 0 12px 12px;
  outline: none;
  margin-bottom: 20px;
  /* background-color: #ffffff; */
}
.form-input::placeholder {
  color: #727695;
  font-family: "Roboto";
}
select {
  color: #727695;
}
.Hero-btn {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #0970a7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.Hero-btn span {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* ABOUT-SECTION */

.About-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
}
.About-section-header h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 65px;
  text-align: center;
}
.About-section-header p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 800px;
}

.About-Card-Section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-Card-Content {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}
.About-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About-Card img {
  padding: 25px;
  border-radius: 20px;
  color: #0970a7;
  background-color: #0970a733;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.About-Card h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.About-Card p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
/* OUT TRANING SECTION */

.Training-Section {
  background: linear-gradient(#0970a7, #85c9ed);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  width: 100%;
}

.Training-Header h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 65px;
  color: #ffffff;
  text-align: center;
}

.Training-Header p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 620px;
}

.Training-Card {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 20px;
  padding: 50px 20px 10px 20px;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.Training-card-content {
  border-radius: 10px;
  padding: 8px 8px 17px 8px;
  background-color: #ffffff;
}
.Training-card-img {
  /* width: 300px; */
  height: 300px;
}
.cardimages {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* border-radius: 10px; */
}
.Training-Card-subcontent {
  padding: 5px;
}
.Training-Card-subcontent h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  /* margin-bottom: 10px; */
}
.Training-Card-subcontent p {
  font-size: 10px;
  color: #a4a2a2;
  line-height: 16px;
  width: 230px;
  /* margin-bottom: 15px; */
}
.Training-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.Start-btn {
  /* margin-top: 20px; */
  padding: 8px 13px 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0970a7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.Start-btn span {
  margin-left: 10px;
}

.card-time {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.card-time-icon {
  font-size: 14px;
  color: #000000;
}
.card-time span {
  font-size: 10px;
  color: #333333;
  margin-left: 5px;
}

/* GET IN SECTION */

.Get-In-Section {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 45% 40%;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  gap: 60px;
}

.Get-Card-Img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Get-Card-Img img {
  height: 554px;
  width: 516px;
  border-radius: 30px;
}
.Get-Card-Contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Get-Card-Content {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Get-Card-Content h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 20px;
}
.Get-Card-Content h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
  width: 520px;
}
.Get-SubContent {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}

.Get-SubContent p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.Get-SubContent p span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0970a7;
  margin-right: 10px;
}
.Getin-btn {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #0970a7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.Getin-btn span {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
/* Experience section */

.Experience-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.Experience-Content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
}
.Experience-Bg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  color: #fff;
  background: #0970a7;
  border-radius: 30px 40px 40px 30px;
}
.Experience-SubContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 20px 40px;
}
.Experience-SubContent h1 {
  font-size: 39px;
  line-height: 46px;
  font-weight: 600;
  width: 450px;
}
.Experience-SubContent p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 20px;
  width: 540px;
}
.Experience-img {
  width: 680px;
  height: 450px;
}
.Expimg {
  height: 100%;
  width: 100%;
}
.Expimg-Mobile {
  height: 100%;
  width: 100%;
  display: none;
}
/* Do-For-Section */

.Do-For-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Do-For-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  width: 90%;
  padding: 60px 20px;
}
.Do-for-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Do-For-Content h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}
.Do-For-Content p {
  text-align: center;
  margin-bottom: 15px;
  width: 500px;
  line-height: 22px;
  font-weight: 400;
}
.Do-Form-Form {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.Form-Do {
  display: grid;
  grid-template-columns: 42% 42%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.Do-Form-Form input,
select {
  width: 100%;
  padding: 17px 17px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #e6e9fc;
  border-radius: 6px;
}
.Do-Form-Form select {
  color: #727695;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto";
}
.Do-Form-Form input::placeholder {
  color: #727695;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto";
}
.Do-Forbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.Do-For-btn {
  border: none;
  background-color: #0970a7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /* width: 217px;
  height: 59px; */
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
  line-height: 31.37px;
}
.Do-For-btn span {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* Footer Section */

.Footer-section {
  background-color: #0970a7;
  color: #ffffff;
  height: auto;
  padding: 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-Content {
  display: flex;
  gap: 60px;
}
.Footer-logo {
  height: 50px;
  width: 120px;
}
.Footerpara {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #dddddd;
  width: 534px;
  /* margin-top: 20px; */
}
.Footer-icon {
  display: flex;
  /* margin-top: 20px; */
}
.Footer-icon p {
  margin-right: 15px;
  font-size: 24px !important;
}
.FooterSubcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FooterSubcontent h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.FooterSubcontent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #dddddd;
}
.FooterSubcontent p span {
  font-size: 24px;
  margin-right: 10px;
}
.Footer-Address {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 250px;
}
.CopyRights-Footer {
  background-color: #0970a7;
  color: #ffffff;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

/* Media Query */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* Hero Section */

  .Hero-bg-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 608px;
    padding: 0 60px;
  }

  .hero-content-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Hero-header1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 47.5px;
    width: 277px;
  }
  .Hero-header2 {
    font-size: 42px;
    line-height: 47.5px;
    width: 420px;
  }
  .Hero-para {
    font-size: 17px;
    font-size: 17px;
  }
  .Hero-Form {
    display: flex;
    flex-direction: column;
  }
  .Hero-Form-header {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .Hero-Form-para {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .Getin-btn {
    padding: 10px 30px;
    font-size: 13px;
  }

  /* About Section */
  .About-section {
    margin-top: 60px;
    padding: 60px 20px;
  }
  .About-section-header h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .About-section-header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 800px;
  }
  .About-Card-Section {
    margin-top: 30px;
  }
  .About-Card-Content {
    grid-template-columns: auto auto auto;
    padding: 20px;
  }

  .About-Card img {
    padding: 20px;
    margin-bottom: 20px;
  }
  .About-Card h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .About-Card p {
    font-size: 16px;
  }

  /* Our Training Section */

  .Training-Section {
    background: linear-gradient(#0970a7, #85c9ed);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    width: 100%;
  }
  .Training-Card {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 20px;
    padding: 50px 20px 10px 20px;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .Training-Header h1 {
    font-size: 32px;
  }

  .Training-Header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 620px;
  }

  .Training-Card-subcontent h3 {
    font-size: 20px;
  }

  .Training-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .Start-btn {
    padding: 10px;
  }

  /* Get In Section */

  .Get-In-Section {
    background-color: #ffffff;
    display: grid;
    /* grid-template-columns: 40% 35%; */
    justify-content: center;
    padding: 40px 0px;
    gap: 60px;
  }
  .Get-Card-Img {
    height: 100%;
    width: 100%;
  }
  .Get-Card-Img img {
    height: 400px;
    width: 100%;
    border-radius: 30px;
  }

  .Get-Card-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Get-Card-Content h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .Get-Card-Content h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
    width: 100%;
  }
  .Get-SubContent {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
  }

  .Get-SubContent p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  .Get-SubContent p span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0970a7;
    margin-right: 10px;
  }

  /* Experience Section */

  .Experience-Bg {
    display: flex;
    height: auto;
  }
  .Experience-SubContent {
    width: 100%;
    padding: 20px 20px;
  }
  .Experience-SubContent h1 {
    font-size: 20px;
    /* text-align: center; */
    width: 100%;
    line-height: 20px;
  }
  .Experience-SubContent p {
    font-size: 13px;
    margin-top: 20px;
    /* text-align: center; */
    width: 100%;
    line-height: 20px;
  }

  /* What Can I Do For Us */
  .Do-for-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Do-For-Content h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .Do-For-Content p {
    width: 100%;
    font-size: 13px;
  }
  .Do-Form-Form {
    grid-template-columns: 1fr;
  }

  .Form-Do {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Do-Form-Form input,
  select {
    padding: 12px 12px;
  }
  .Do-Form-Form select {
    font-size: 14px;
  }
  .Do-Form-Form input::placeholder {
    font-size: 14px;
  }
  .Do-Forbtn {
    margin-top: 20px;
  }
  .Do-For-btn {
    font-weight: 500;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 10px;
  }

  /* Footer */

  .Footer-section {
    padding: 20px;
  }

  .Footer-logo {
    height: 50px;
    width: 120px;
  }
  .Footerpara {
    width: 100%;
  }

  .Footer-icon p {
    font-size: 20px !important;
  }

  .FooterSubcontent p span {
    font-size: 20px;
  }
  .Footer-Address {
    width: 100%;
  }
  .CopyRights-Footer {
    background-color: #0970a7;
    color: #ffffff;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .CopyRights-Footer p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Hero Section */

  .Hero-bg-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 0px; */
  }

  .hero-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  .Hero-header1 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    width: 100%;
  }
  .Hero-header2 {
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    text-align: center;
  }
  .Hero-para {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .Hero-Form {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .Hero-Form-header {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .Hero-Form-para {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .Hero-btn {
    padding: 10px 15px;
    font-size: 12px;
  }

  /* About Section */
  .About-section {
    margin-top: 60px;
    padding: 60px 20px;
  }
  .About-section-header h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .About-section-header p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
  }
  .About-Card-Section {
    margin-top: 30px;
  }
  .About-Card-Content {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .About-Card {
    text-align: center;
  }
  .About-Card img {
    padding: 15px;
    margin-bottom: 0px;
  }
  .About-Card h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .About-Card p {
    font-size: 12px;
  }

  /* Our Training Section */

  .Training-Section {
    padding: 0px;
  }

  .Training-Header h1 {
    font-size: 17px;
  }

  .Training-Header p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 550px;
  }

  .Training-Card {
    grid-template-columns: auto auto;
  }

  .Training-Card-subcontent h3 {
    font-size: 13px;
  }

  .Training-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .Start-btn {
    padding: 5px 10px 5px 10px;
  }

  /* Get In Section */

  .Get-In-Section {
    grid-template-columns: auto;
    gap: 30px;
  }
  .Get-Card-Img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Get-Card-Img img {
    height: 350px;
    width: 516px;
    border-radius: 30px;
  }
  .Get-Card-Content {
    height: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Get-Card-Content h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .Get-Card-Content h3 {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .Get-SubContent p {
    font-size: 16px;
    line-height: 15px;
    width: 100%;
    justify-content: center;
  }
  .Get-SubContent p span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0970a7;
    margin-right: 10px;
  }
  .Get-Btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Experience Section */

  .Experience-Bg {
    display: flex;
    height: auto;
  }
  .Experience-SubContent {
    width: 100%;
    padding: 20px 20px;
  }
  .Experience-SubContent h1 {
    font-size: 20px;
    /* text-align: center; */
    width: 100%;
    line-height: 20px;
  }
  .Experience-SubContent p {
    font-size: 13px;
    margin-top: 20px;
    /* text-align: center; */
    width: 100%;
    line-height: 20px;
  }

  /* What Can I Do For Us */
  .Do-for-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Do-For-Content h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .Do-For-Content p {
    width: 100%;
    font-size: 13px;
  }
  .Do-Form-Form {
    grid-template-columns: 1fr;
  }

  .Form-Do {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Do-Form-Form input,
  select {
    padding: 12px 12px;
  }
  .Do-Form-Form select {
    font-size: 14px;
  }
  .Do-Form-Form input::placeholder {
    font-size: 14px;
  }
  .Do-Forbtn {
    margin-top: 20px;
  }
  .Do-For-btn {
    font-weight: 500;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 10px;
  }

  /* Footer */

  .Footer-section {
    padding: 20px;
  }
  .Footer-Content {
    flex-direction: column;
  }
  .Footer-logo {
    height: 50px;
    width: 120px;
  }
  .Footerpara {
    width: 100%;
  }

  .Footer-icon p {
    font-size: 20px !important;
  }

  .FooterSubcontent p span {
    font-size: 20px;
  }
  .Footer-Address {
    width: 100%;
  }
  .CopyRights-Footer {
    background-color: #0970a7;
    color: #ffffff;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .CopyRights-Footer p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .logo img {
    height: 25px;
  }

  .checkbtn {
    display: block;
    order: 1;
  }
  .navbar {
    padding: 24px;
  }
  .nav-ul {
    display: none;
  }
  .nav-ul {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
    /* background-color: #0970a7; */
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
  }
  .nav-ul li {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-ul li a {
    font-size: 20px;
    /* color: #ffffff !important; */
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 50px;
  }

  #check:checked ~ .nav-ul {
    display: block;
  }

  /* Hero Section */

  .Hero-bg-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
  }

  .hero-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-top: 30px; */
  }
  .Hero-header1 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100%;
  }
  .Hero-header2 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: center;
  }
  .Hero-para {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  .Hero-Form {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  .Hero-Form-header {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .Hero-Form-para {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .Hero-btn {
    padding: 10px 15px;
    font-size: 12px;
  }

  /* About Section */
  .About-section {
    padding: 60px 20px;
  }
  .About-section-header h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .About-section-header p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
  }
  .About-Card-Section {
    margin-top: 30px;
  }
  .About-Card-Content {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .About-Card {
    text-align: center;
    margin-top: 30px;
  }
  .About-Card img {
    padding: 15px;
    margin-bottom: 0px;
  }
  .About-Card h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .About-Card p {
    font-size: 12px;
  }

  /* Our Training Section */

  .Training-Section {
    padding: 0px;
  }

  .Training-Header h1 {
    font-size: 17px;
  }

  .Training-Header p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    max-width: 350px;
  }

  .Training-Card {
    grid-template-columns: 1fr;
  }

  .Training-Card-subcontent h3 {
    font-size: 13px;
  }
  .Training-card-img {
    /* width: 300px; */
    height: 200px;
  }
  .Training-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .Start-btn {
    padding: 5px 10px 5px 10px;
  }

  /* Get In Section */

  .Get-In-Section {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .Get-Card-Img img {
    height: 300px;
    width: 316px;
    border-radius: 30px;
  }
  .Get-Card-Content {
    height: auto;
  }
  .Get-Card-Content h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .Get-Card-Content h3 {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .Get-SubContent p {
    font-size: 12px;
    text-align: start;
    line-height: 15px;
    width: 100%;
    justify-content: center;
  }
  .Get-SubContent p span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0970a7;
    margin-right: 10px;
  }
  .Get-Btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Experience Section */

  .Experience-Bg {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: auto;
  }
  .Experience-SubContent {
    width: 100%;
    padding: 20px 0px;
  }
  .Experience-SubContent h1 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    line-height: 20px;
  }
  .Experience-SubContent p {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    line-height: 20px;
  }
  .Experience-img {
    width: 100%;
    height: auto;
  }
  .Expimg {
    height: 100%;
    width: 100%;
    display: none;
  }
  .Expimg-Mobile {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 20px;
  }

  /* What Can I Do For Us */
  .Do-for-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Do-For-Content h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .Do-For-Content p {
    width: 100%;
    font-size: 13px;
  }
  .Do-Form-Form {
    grid-template-columns: 1fr;
  }

  .Form-Do {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Do-Form-Form input,
  select {
    padding: 12px 12px;
  }
  .Do-Form-Form select {
    font-size: 14px;
  }
  .Do-Form-Form input::placeholder {
    font-size: 14px;
  }
  .Do-Forbtn {
    margin-top: 20px;
  }
  .Do-For-btn {
    font-weight: 500;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 10px;
  }

  /* Footer */

  .Footer-section {
    padding: 20px;
  }
  .Footer-Content {
    flex-direction: column;
  }
  .Footer-logo {
    height: 50px;
    width: 120px;
  }
  .Footerpara {
    width: 100%;
  }

  .Footer-icon p {
    font-size: 20px !important;
  }

  .FooterSubcontent p span {
    font-size: 20px;
  }
  .Footer-Address {
    width: 100%;
  }
  .CopyRights-Footer {
    background-color: #0970a7;
    color: #ffffff;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .CopyRights-Footer p {
    font-size: 14px;
  }
}
